body {
  background-color: #C3031D;
  color: #312829;
  font-family: sans-serif;

}

h2 {
  color: #F1E6E8;

}

h3 {
  color: #745D60;
}

#right {
  float: right;
  margin-right: 20%;
}

#header {
  text-align: center;
  border: 5px solid #ffffff;
}
