body {
  /*background-image: url("http://www.hotel-r.net/im/hotel/ua/matrix-5.jpg");*/
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color:
}

h2 {

}

h3 {

}

ul{

}
